#modal-div{
  display: none;
  margin-left: 450px;
  border: 1px solid black;
  width: 110px;
  padding: 5px;
}

h1{
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
}

.button {
  border: none;
  background: none;
  display: block;
  width: 130px;
  font-size: 22px;
  border: 1px solid black;
  height: 40px;
}

.time-div {
  display: flex;
}

.button-time{
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 10%;
  margin-top: 30px;
}

.title{
  margin-top: 30;
}

#alert{
  display: none;
  position: absolute;
  left: 400px;
  right: 400px;
  top: 330px;
  background: black;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 45px;
}
